.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #9575CD;
    color: floralwhite;
}

.footer {
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

.history-content {
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-width: 400px;
}

.corporate-content {
    padding-top: 20px;
}

.navbar-dark {
    background-color: #512DA8;
}

body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}